@use '../abstracts/mixins' as *;

.welcome {
    margin: 0;
    background: url("../images/noise_transparent2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    .information {
        width: 1200px;
        margin: 90px auto 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .description {
            width: 39%;
            margin-top: -9.5%;
            .description__title {
                width: 80%;
                font-family: Georgia;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                font-size: 2.75rem;
                color: #FFFFFF;
            }
            .description__p {
                font-family: Arial;
                font-style: normal;
                font-weight: 400;
                font-size: 0.94rem;
                line-height: 160%;
                color: #CDCDCD;
                margin: 9% auto;
            }
            .button {
                @include button;
                background: #F1CDB3;
                &:hover {
                    background: #FDDCC4;
                }
            }
        }
    }
}