@font-face {
    font-family: Georgia;
    src: url('../fonts/georgia/georgia-regular.ttf') format("truetype");
}

@font-face {
    font-family: Arial;
    src: url('../fonts/arial/arial-regular.ttf') format("truetype");
}